---
- name: Install and configure Apache with reverse proxy for Docker container
  hosts: all
  become: yes

  tasks:
    - name: Ensure Apache is installed
      apt:
        name: apache2
        state: present
      when: ansible_os_family == "Debian"

    - name: Ensure Apache is installed (for RedHat based systems)
      yum:
        name: httpd
        state: present
      when: ansible_os_family == "RedHat"

    - name: Enable and start Apache service
      service:
        name: "{{ 'apache2' if ansible_os_family == 'Debian' else 'httpd' }}"
        state: started
        enabled: yes

    - name: Enable necessary Apache modules
      apache2_module:
        name: "{{ item }}"
        state: present
      loop:
        - proxy
        - proxy_http
        - proxy_wstunnel
      when: ansible_os_family == "Debian"

    - name: Enable necessary Apache modules (for RedHat based systems)
      command: "{{ item }}"
      loop:
        - "sudo dnf install -y mod_proxy"
        - "sudo dnf install -y mod_proxy_http"
        - "sudo dnf install -y mod_proxy_wstunnel"
      when: ansible_os_family == "RedHat"

    - name: Configure Apache virtual host for reverse proxy
      template:
        src: apache_vhost.j2
        dest: /etc/apache2/sites-available/000-default.conf
      when: ansible_os_family == "Debian"

    - name: Configure Apache virtual host for reverse proxy (RedHat)
      template:
        src: apache_vhost.j2
        dest: /etc/httpd/conf.d/000-default.conf
      when: ansible_os_family == "RedHat"

    - name: Ensure ServerName is set in Apache main configuration file
      lineinfile:
        path: "{{ '/etc/apache2/apache2.conf' if ansible_os_family == 'Debian' else '/etc/httpd/conf/httpd.conf' }}"
        line: "ServerName 192.168.0.100"
        create: yes
        state: present
        insertafter: "LogLevel warn"
      notify: Reload Apache

    - name: Reload Apache to apply changes
      service:
        name: "{{ 'apache2' if ansible_os_family == 'Debian' else 'httpd' }}"
        state: reloaded

  handlers:
    - name: Reload Apache
      service:
        name: "{{ 'apache2' if ansible_os_family == 'Debian' else 'httpd' }}"
        state: reloaded
